[Unit]
Description = Sentry Worker
After = network.target

[Service]
ExecStart = /usr/local/bin/sentry run worker

[Install]
WantedBy = multi-user.target
